body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    border: 1px solid #5f9341;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 4px;
}

button {
    background-color: #5f9341;
    border: none;
    color: azure;
    padding-top: 10px;
    padding: 10px 20px;
}
